/*-----------------General----------------*/
*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
a {
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
}
abbr[title] {
  border-bottom: 1px dotted;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}
legend {
  border: 0;
  padding: 0;
}
pre {
  overflow: auto;
}
b, strong {
  font-weight: 700;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 16px;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Tahoma", "Verdana", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 500;
  background: rgba(13, 21, 38, .14);
  color: rgba(5, 5, 5, .75);
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.62;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary, ul li {
  display: block;
}
a:focus {
  outline: 0;
}
a:active, a:hover {
  outline: 0;
}
[hidden], template {
  display: none;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -.5em;
}
sub {
  bottom: -.25em;
}
figure {
  margin: 1em 40px;
}
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button, select {
  text-transform: none;
}
button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled], html input[disabled] {
  cursor: default;
}
input {
  line-height: normal;
}
input[type=checkbox], input[type=radio], td, th {
  padding: 0;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: 700;
}
/*-----------------General----------------*/
/*-----------------Typography----------------*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  margin-top: 0;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
}
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
}
.h1, h1 {
  font-size: 2.5rem;
}
.h2, h2 {
  font-size: 2rem;
}
.h3, h3 {
  font-size: 1.75rem;
}
.h4, h4 {
  font-size: 1.5rem;
}
.h5, h5 {
  font-size: 1.25rem;
}
.h6, h6 {
  font-size: 1rem;
}
/*-----------------Typography----------------*/
/*-----------------Grid----------------*/
.row:after, .row:before {
  content: '';
  clear: both;
  display: table;
}
[class*=clm-] {
  float: left;
  width: 100%;
}
/*-----------------Grid----------------*/
/*-----------------Small Configuration----------------*/
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.screen-reader-text {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  position: absolute;
  top:0;
  font-size: .5px;
  visibility: hidden;
}
::-moz-selection {
  color: rgba(255, 255, 255, .7);
  background-color: #e6a51a;
}
::selection {
  color: rgba(255, 255, 255, .7);
  background-color: #e6a51a;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Sans';
}
/*-----------------Small Configuration----------------*/
/*-----------------Side Navigation Menu----------------*/
.bg-black-screen, .sideNav {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.bg-black-screen {
  opacity: 0;
  display: none;
  background: rgba(0, 0, 0, .9);
  z-index: 1;
  width: 100%;
}
.sideNav {
  width: 80%;
  width: 80vw;
  height: 100vh;
  background: -webkit-linear-gradient(30deg, #364d7d, #0b1d41);
  background: -moz-linear-gradient(30deg, #364d7d, #0b1d41);
  background: -o-linear-gradient(30deg, #364d7d, #0b1d41);
  background: linear-gradient(60deg, #364d7d, #0b1d41);
  color: rgba(255, 255, 255, .8);
  z-index: 2;
  -webkit-transform: translateX(-120%);
  -moz-transform: translateX(-120%);
  -ms-transform: translateX(-120%);
  -o-transform: translateX(-120%);
  transform: translateX(-120%);
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.sideNav-title {
  padding: 25px;
  position: relative;
}
.sideNav-title h1 {
  color: inherit;
  font-weight: 100;
  font-family: 'Dancing Script';
}
.sideNav-bar {
  height: 2px;
  width: 80%;
  background: rgba(94, 125, 186, .4);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
}
.sideNav-close-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 2px;
  left: 100%;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  background: rgba(204, 3, 0, .8);
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  transition: all .3s ease-out;
  cursor: pointer;
  font-size: 20px;
  padding-top: 8px;
}
.sideNav-close-btn:focus, .sideNav-close-btn:hover {
  -webkit-transform: scale(1.2) translate(2px, 2px);
  -moz-transform: scale(1.2) translate(2px, 2px);
  -ms-transform: scale(1.2) translate(2px, 2px);
  -o-transform: scale(1.2) translate(2px, 2px);
  transform: scale(1.2) translate(2px, 2px);
}
.sideNav-items {
  height: 70%;
  height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.sideNav-items > li {
  -webkit-transform: translate(-30px);
  -moz-transform: translate(-30px);
  -ms-transform: translate(-30px);
  -o-transform: translate(-30px);
  transform: translate(-30px);
  opacity:0;
}
.sideNav-items li {
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.sideNav-items li ul {
  padding-left: 16px;
  display: none;
}
.sideNav-items li a {
  font-size: 18px;
  padding: 16.4px 41px;
  color: rgba(255, 255, 255, .65);
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.sideNav-items li a:focus, .sideNav-items li a:hover {
  color: rgba(255, 255, 255, .95);
  -webkit-transform: translate(6px);
  -moz-transform: translate(6px);
  -ms-transform: translate(6px);
  -o-transform: translate(6px);
  transform: translate(6px);
}
.sideNav-social, .sideNav-social-icon {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.sideNav-social {
  position: absolute;
  bottom: 0;
  display: none;
  height: 70px;
  width: 100%;
}
.sideNav-social-icon {
  width: 20px;
  height: 20px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: rgba(250, 250, 250, .4);
  margin: 0 6px;
  font-size: 14px;
  color: #203560;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.sideNav-social-icon:focus, .sideNav-social-icon:hover {
  background: rgba(250, 250, 250, .6);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}
/*-----------------Side Navigation Menu----------------*/
/*-----------------Header----------------*/
.header-nav, header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 500px;
  height: 100vh;
  color: rgba(255, 255, 255, .9);
}
.header-nav {
  padding: 9px;
}
.header-nav-logo {
  padding: 16px;
  margin-left: 9px;
  font-weight: 700;
  font-family: 'Dancing Script';
  font-size: 35px;
  color: inherit;
}
.header-nav-humb {
  width: 40px;
  height: 40px;
  margin: auto 16px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: -o-transform .3s;
  -moz-transition: transform .3s, -moz-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s, -moz-transform .3s, -o-transform .3s;
  padding: 8px 6px;
  border: 2px solid;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.header-nav-humb-bar {
  background: #f0f0f0;
  height: 4px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.header-center {
  margin: 0 auto;
  padding: 16px 5px;
}
.header-center h1 {
  margin-bottom: 9px;
  font-weight: 100;
  color: #dfa320;
  font-family: 'Dancing Script';
  font-size: 67px;
}
.header-center h4 {
  margin-bottom: 9px;
  font-weight: 100;
  color: inherit;
}
.header-btm {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
}
.header-btm-cpright {
  margin-left: 9px;
}
.header-btm-cpright h6 {
  font-size: 12px;
  margin: auto auto 0;
}
.header-btm-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 16px;
}
.header-btm-social-icon {
  width: 25px;
  height: 25px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: rgba(179, 196, 230, .7);
  margin: 0 6px;
  font-size: 14px;
  color: #392d13;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
.header-btm-social-icon:focus, .header-btm-social-icon:hover {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}
/*-----------------Header----------------*/
/*-----------------Top Button----------------*/
.top {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #093eaa;
  opacity: .6;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin: 20px;
  cursor: pointer;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  z-index: -1;
}
.top:after, .top:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 5px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  top: 40%;
  left: 50%;
  background: #fff;
}
.top:after {
  -webkit-transform: translate(-75%) rotateZ(-45deg);
  -moz-transform: translate(-75%) rotateZ(-45deg);
  -ms-transform: translate(-75%) rotate(-45deg);
  -o-transform: translate(-75%) rotateZ(-45deg);
  transform: translate(-75%) rotateZ(-45deg);
}
.top:before {
  -webkit-transform: translate(-25%) rotateZ(45deg);
  -moz-transform: translate(-25%) rotateZ(45deg);
  -ms-transform: translate(-25%) rotate(45deg);
  -o-transform: translate(-25%) rotateZ(45deg);
  transform: translate(-25%) rotateZ(45deg);
}
.top:focus, .top:hover {
  opacity: .9;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
/*-----------------Top Button----------------*/
/*-----------------Second Menu----------------*/
.menu2 {
  background: rgba(26, 94, 230, .8);
  position: relative;
}
.menu2 li ul, .menu2-ul {
  width: 100%;
  z-index: 1;
  left: 0;
  display: none;
  position: absolute;
}
.menu2-ul {
  margin-right: 16px;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #1a5ee6;
  top: 60px;
}
.menu2 a {
  padding: 16px 21px;
  color: rgba(255, 255, 255, .8);
  text-transform: capitalize;
}
.menu2 li {
  position: relative;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  text-align: center;
}
.menu2 li ul {
  background: #264073;
  opacity: 0;
}
.menu2 li:focus, .menu2 li:hover {
  background: #68c;
}
.menu2 li:focus>ul, .menu2 li:hover>ul {
  display: block;
  -webkit-animation: dim .5s ease-in-out forwards;
  -moz-animation: dim .5s ease-in-out forwards;
  -o-animation: dim .5s ease-in-out forwards;
  animation: dim .5s ease-in-out forwards;
}
.menu2-humb {
  color: #fff;
}
.menu2-humb span {
  background: #fff;
}
/*-----------------Second Menu----------------*/
/*-----------------Sidebar----------------*/
.sidebar {
  margin-top: 109px;
}
.widget {
  list-style: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, .35);
  border-top: none;
  overflow: hidden;
  width: 310px;
  display: block;
  margin: 41px auto 0;
  background: #fff;
}
.widgettitle {
  background: rgba(38, 98, 217, .9);
  color: rgba(255, 255, 255, .9);
  padding: 16px 25px;
  margin: 0;
  font-size: 1.4rem;
  font-family: 'Noto Sans';
  font-weight: 100;
}
.widget_search form {
  padding: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.widget_search form input[type="search"] {
  padding: 12px;
  font-size: 19px;
  font-family: 'Roboto';
  outline: 0;
  border: 1px solid rgba(115, 82, 13, .3);
  color: #73520d;
  background: rgba(232, 174, 48, .3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 85%;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
  -webkit-box-shadow: 0 0 0 0 #fff;
  -moz-box-shadow: 0 0 0 0 #fff;
  box-shadow: 0 0 0 0 #fff;
}
.widget_search label {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -moz-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
}
.widget_search form input[type="search"]:focus, .widget_search form input[type="search"]:hover {
  -webkit-box-shadow: inset 0 0 8px #7da1e8;
  -moz-box-shadow: inset 0 0 8px #7da1e8;
  box-shadow: inset 0 0 8px #7da1e8;
  background: rgba(242, 170, 13, .2);
}
.widget_search form input[type="submit"] {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 14px 2px;
  background: #d09a25;
  border: 0;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  margin-left: 5px;
  color: rgba(255, 255, 255, .95);
}
.widget_calendar table {
  margin: 16px auto;
  text-align: center;
}
.widget_calendar caption {
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  border-top-right-radius: 7px;
  width: 200px;
  margin: auto;
  background: #cf9417;
  color: rgba(255, 255, 255, .8);
  padding: 9px;
}
.widget_calendar thead {
  color: #fff;
  background: #4563a1;
  text-shadow: 0 2px 3px rgba(0, 0, 0, .5);
}
.widget_calendar td, .widget_calendar th {
  padding: 10px;
}
.widget_calendar tfoot a {
  color: #1241a1;
}
.widget_calendar tbody #today {
  background: rgba(244, 178, 37, .65);
}
.widget_archive ul, .widget_categories ul {
  padding: 16px 25px;
}
.widget_archive ul li:nth-child(2n), .widget_categories ul li:nth-child(2n) {
  background: rgba(8, 28, 69, .1);
}
.widget_archive a, .widget_categories a {
  display: inline-block;
  width: auto;
  padding: 9px 0;
  color: rgba(0, 0, 0, .9);
}
.widget_archive a:before, .widget_categories a:before {
  font-family: 'fontello';
  margin-right: 16px;
  color: rgba(0, 0, 0, .5);
}
.widget_categories a:before {
  content: '\e80d';
}
.widget_archive a:before {
  content: '\e80e';
}
.widget_recent_entries ul {
  padding: 16px;
}
.widget_recent_entries li {
  padding: 9px;
}
.widget_recent_entries li:nth-child(2n) {
  background: rgba(0, 0, 0, .15);
}
.widget_recent_entries .post-date:before {
  font-family: 'fontello';
  content: '\e806';
  margin-right: 9px;
}
/*-----------------Sidebar----------------*/
/*-----------------Blog Post variations----------------*/
.index-post {
  border: 1px solid rgba(10, 10, 10, .3);
  border-top: none;
  width: 90%;
  position: relative;
  background: rgba(255, 255, 255, .8);
  margin: 67px auto 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.index-post-thumb {
  overflow: hidden;
  background: #000;
  display: block;
}
.index-post-thumb .img {
  height: 250px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.index-post-thumb .img:focus, .index-post-thumb .img:hover {
  opacity: .5;
  -webkit-transform: scale(1.07) rotate(1deg);
  -moz-transform: scale(1.07) rotate(1deg);
  -ms-transform: scale(1.07) rotate(1deg);
  -o-transform: scale(1.07) rotate(1deg);
  transform: scale(1.07) rotate(1deg);
}
.index-post-thumb:hover::after {
  visibility: visible;
}
.index-post-readMoreBtn {
  width: 50px;
  height: 50px;
  position: absolute;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: #cf9417;
  right: 25px;
  top: 220px;
  -webkit-box-shadow: 3px 6px 9px rgba(0, 0, 0, .4);
  -moz-box-shadow: 3px 6px 9px rgba(0, 0, 0, .4);
  box-shadow: 3px 6px 9px rgba(0, 0, 0, .4);
  -webkit-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  padding-left: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 21px;
  color: rgba(255, 255, 255, .8);
}
.index-post-readMoreBtn:focus, .index-post-readMoreBtn:hover {
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px);
  background: #e6a51a;
  -webkit-box-shadow: 3px 9px 9px rgba(0, 0, 0, .4);
  -moz-box-shadow: 3px 9px 9px rgba(0, 0, 0, .4);
  box-shadow: 3px 9px 9px rgba(0, 0, 0, .4);
}
.index-post-meta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 25px;
}
.index-post-excerpt, .index-post-title {
  padding: 9px 25px;
}
.index-post-title {
  text-transform: capitalize;
  margin-top: 16px;
  margin-bottom: 0;
  color: rgba(9, 15, 27, .75);
}
.index-post-ctn {
  width: 100%;
}
.meta-ctn {
  padding: 3px 9px 6px 0;
}
.meta-txt {
  font-size: 14px;
  color: rgba(10, 10, 10, .7);
}
.index-post-icon {
  color: #aa7709;
}
.posts-index {
  max-width: 1440px;
  margin: 41px auto 67px;
}
.post-index_gridPadding {
  padding: 0;
}
.index-postGrid {
  width: 99%;
}
.index-postGrid-ctn {
  max-width: 1300px;
  margin: 109px 0;
}
@media screen and (min-width:1024px) {
  .index-postGrid-ctn .clm-6{
    height:700px;
  }
  .clm-6{
    height:400px;
  }
  .clm-4.clm-6-mdm{
    height: 750px;
  }
}
.index-postGrid-h {
  text-align: center;
  position: relative;
  font-family: 'Dancing Script';
  font-size: 2.5rem;
  max-width: 320px;
  color: #359;
}
.index-postGrid-h:after, .index-postGrid-h:before {
  position: absolute;
  content: '';
  background: -webkit-linear-gradient(135deg, #406abf, #b3c4e6);
  background: -moz-linear-gradient(135deg, #406abf, #b3c4e6);
  background: -o-linear-gradient(135deg, #406abf, #b3c4e6);
  background: linear-gradient(-45deg, #406abf, #b3c4e6);
  height: 7px;
  width: 50px;
  top: 65%;
}
.index-postGrid-h:after {
  background: -webkit-linear-gradient(45deg, #406abf, #b3c4e6);
  background: -moz-linear-gradient(45deg, #406abf, #b3c4e6);
  background: -o-linear-gradient(45deg, #406abf, #b3c4e6);
  background: linear-gradient(45deg, #406abf, #b3c4e6);
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
  right: 0;
}
.index-postGrid-h:before {
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
  left: 0;
}
.index-postInlined-h {
  margin-bottom: 109px;
}
.index-postInlined {
  margin-top: 41px;
}
/*-----------------Blog Post variations----------------*/
/*-----------------Footer----------------*/
.footer {
  color: rgba(250, 237, 209, .3);
}
.footer_grid {
  padding: 0 20.5px;
  margin-bottom: 41px;
}
.footer_grid h5, .footer_grid h6 {
  color: rgba(250, 237, 209, .4);
}
.footer-h {
  font-weight: 500;
  margin-bottom: 25px;
  color: rgba(250, 237, 209, .75);
}
.footer-h_SiteTitle {
  font-family: 'Dancing Script';
  font-weight: 100;
  font-size: 5rem;
}
.footer-featured-post {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 9px;
}
.footer-featured-post-img {
  width: 85px;
  height: 85px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-right: 16px;
}
.footer-featured-post-txt {
  font-size: 14px;
}
.footer-featured-post-txt p {
  line-height: 1.35;
}
.footer-contact-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}
.footer-contact-info i {
  margin-right: 6px;
  font-size: 25px;
  color: rgba(245, 187, 61, .7);
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  transform: translateY(-6px);
}
.footer-social-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-links, footer {
  color: rgba(250, 237, 209, .6);
}
.footer-links {
  display: block;
  text-decoration: underline;
  margin: 0 9px 16px;
  font-size: 16px;
  font-family: 'Noto Sans';
  font-weight: 100;
}
footer {
  padding: 67px 16px;
  background: #040a16;
}
.last-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 16px 25px;
  background: #020409;
  color: rgba(247, 228, 186, .55);
}
.last-footer-item {
  font-size: 14px;
  font-family: 'Noto Sans';
  font-weight: 700;
}
.last-footer-item * {
  margin-bottom: 0;
}
.last-footer-item-a {
  text-decoration: underline;
  margin: 0 12.5px;
  color: inherit;
}
.last-footer-links {
  display: none;
}
/*-----------------Footer----------------*/
/*-----------------Comment----------------*/
.comment-respond {
  margin: auto;
  max-width: 800px;
}
.comment-reply-title {
  color: rgba(12, 31, 69, .75);
  font-family: 'Noto Sans';
}
.comment-form-comment label {
  display: block;
  width: 95%;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: translate(15px, 50px);
  -moz-transform: translate(15px, 50px);
  -ms-transform: translate(15px, 50px);
  -o-transform: translate(15px, 50px);
  transform: translate(15px, 50px);
  color: rgba(18, 45, 100, .5);
  font-family: 'Noto Sans';
  font-weight: 500;
}
.comment-form-comment textarea {
  font-size: 17px;
  color: rgba(15, 39, 87, .7);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 90%;
  height: 150px;
  outline: 0;
  padding: 16px;
  margin: 9px 0 0;
  -webkit-box-shadow: 0 0 0 0 #fff;
  -moz-box-shadow: 0 0 0 0 #fff;
  box-shadow: 0 0 0 0 #fff;
}
.comment-form-comment textarea:focus, .comment-form-comment textarea:hover {
  -webkit-box-shadow: 0 0 5px 2px #f0c975;
  -moz-box-shadow: 0 0 5px 2px #f0c975;
  box-shadow: 0 0 5px 2px #f0c975;
}
.form-submit input {
  color: #fff;
  background: #d49711;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  padding: 16px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  border: 0;
}
.form-submit input:hover {
  background: #ebb747;
}
/*-----------------Comment----------------*/
/*-----------------Pagination----------------*/
.nav-links {
  padding: 9px;
  margin: auto;
  width: 360px;
}
.page-numbers {
  text-align: center;
  display: inline-block;
  width: 45px;
  height: 45px;
  font-weight: 700px;
  margin: 5px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  padding-top: 13px;
  color: rgba(13, 30, 63, .85);
  background: rgba(18, 40, 84, .15);
}
a.page-numbers:hover {
  background: rgba(18, 40, 84, .35);
}
.pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 109px;
}
.pagination .next, .pagination .prev {
  display: block;
  width: 100%;
  margin-left: 0;
  background: #bd860f;
  color: #fff;
  padding-left: 16px;
  padding-right: 16px;
}
.pagination .next:hover, .pagination .prev:hover {
  background: #eca713;
}
.pagination .next i, .pagination .prev i {
  color: inherit;
  font-size: 14px;
}
.current {
  background: #de9d12;
  color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
/*-----------------Pagination----------------*/
/*-----------------Single Post Header----------------*/
.post-header {
  height: 500px;
  height: 80vh;
  color: rgba(255, 255, 255, .8);
}
.post-header h1 {
  text-align: center;
  margin-top: 104px;
  padding: 0 9px;
  text-shadow: 0 2px 7px rgba(0, 0, 0, .6);
}
.post-header .index-post-meta {
  margin: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
}
.post-header .index-post-icon {
  color: rgba(245, 187, 61, .9);
}
.post-header .meta-txt {
  color: rgba(255, 255, 255, .7);
}
/*-----------------Single Post Header----------------*/
/*-----------------Single Post----------------*/
.single-post {
  max-width: 900px;
  padding: 25px;
  margin: auto;
}
.single-post .index-post-meta {
  margin-bottom: 41px;
  padding: 0;
}
.single-post-img {
  -o-object-fit: cover;
  object-fit: cover;
  margin-bottom: 41px;
}
.single-post-title {
  margin-top: 41px;
  margin-bottom: 16px;
  color: rgba(0, 0, 0, .75);
  font-weight: 100;
  font-size: 3.2rem;
}
.single-post-content {
  margin-top: 25px;
  margin-bottom: 67px;
  font-size: 17px;
}
.single-post-content p:first-child::first-letter {
  font-size: 25px;
}
.single-post-content a {
  text-decoration: underline;
  color: #2f4f8e;
}
.single-post-content blockquote {
  border-left: 7px solid #bf9740;
  font-style: italic;
  line-height: 1.6;
  padding: 0 16px;
  margin-left: 9px;
}
/*-----------------Single Post----------------*/
/*-----------------Presentaion----------------*/
.aboutBtm {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  padding: 16px;
  margin-bottom: 67px;
  max-width: 700px;
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, .22);
}
.aboutBtm-img {
  width: 80px;
  height: 80px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.aboutBtm hr {
  display: none;
  width: 109px;
  margin: 0;
}
.aboutBtm-txt {
  padding: 0 9px;
}
.pres {
  text-align: center;
  padding: 109px 16px;
}
.pres-intro {
  margin-bottom: 109px;
}
.pres-intro-title {
  font-weight: 100;
}
.pres-intro-subTitle {
  font-size: 20px;
}
.mbl {
  height: auto;
  overflow: hidden;
}
.mbl-img {
  width: 360px;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 1;
  display: none;
  position: relative;
}
.mbl-img iframe {
  width: 328px;
  height: 460px;
  top: 64px;
  left: 18px;
  position: absolute;
  overflow: auto;
}
.mbl-description {
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
  transform: translate(0);
  opacity: 1;
  height: 100%;
  padding: 25px;
}
.mbl-description h1 {
  font-weight: 400;
  margin-bottom: 20px;
}
.mbl .btn {
  color: #fff;
  background: #da990b;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  padding: 16px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  border: 0;
  display: inline-block;
}
.mbl .btn:hover {
  background: #e8ae30;
}
.mbl .clm-6:nth-child(2), .mbl-description {
  -webkit-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
  opacity: 1;
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
  transform: translate(0);
}
.rwd {
  color: rgba(255, 255, 255, .7);
}
.rwd .img {
  -webkit-transition: all 3s ease-in-out;
  -o-transition: all 3s ease-in-out;
  -moz-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out;
  opacity: 1;
  width: 85%;
}
.featuredPosts {
  position: relative;
  overflow: hidden;
}
.featuredPosts .pres-intro-title {
  color: rgba(255, 255, 255, .85);
}
.featuredPosts:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-bottom: 300px solid transparent;
  border-left: 3000px solid #2d4a86;
}
.featuredPosts-item {
  margin: 25px 0;
  padding: 0;
  text-align: left;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 25px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 4px 25px rgba(0, 0, 0, .5);
  box-shadow: 0 4px 25px rgba(0, 0, 0, .5);
}
.featuredPosts-item .index-post {
  margin: 0;
  width: 100%;
  border: 0;
}
.featuredPosts-item .index-post-meta {
  padding: 0 0 0 16px;
}
.featuredPosts .clm-4 {
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transform: translate(0) scale(1);
  -moz-transform: translate(0) scale(1);
  -ms-transform: translate(0) scale(1);
  -o-transform: translate(0) scale(1);
  transform: translate(0) scale(1);
  opacity: 1;
}
.circle {
  width: 208px;
  height: 208px;
}
.circle circle {
  stroke-dasharray: 628px;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: #000;
  fill: none;
}
.scores-circle {
  margin-bottom: 16px;
}
.scores-item {
  position: relative;
  margin-bottom: 67px;
}
.scores-item-title {
  font-weight: 400;
}
.scores-percent {
  font-weight: 100;
  font-size: 41px;
  position: absolute;
  top: 40px;
  left: 50%;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);
  border-bottom: 2px solid rgba(0, 0, 0, .25);
  padding-bottom: 6px;
}
.scores-icon {
  background: #406abf;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 120px;
  left: 50%;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);
}
.c2a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 25px 9px;
  background: -webkit-linear-gradient(135deg, rgba(26, 94, 230, .8), rgba(83, 38, 217, .8));
  background: -moz-linear-gradient(135deg, rgba(26, 94, 230, .8), rgba(83, 38, 217, .8));
  background: -o-linear-gradient(135deg, rgba(26, 94, 230, .8), rgba(83, 38, 217, .8));
  background: linear-gradient(-45deg, rgba(26, 94, 230, .8), rgba(83, 38, 217, .8));
}
.c2a-txt {
  color: rgba(255, 255, 255, .7);
  margin-bottom: 25px;
  font-family: 'Noto Sans';
  font-weight: 100;
}
.c2a-btn {
  text-align: center;
  padding: 19px;
  margin: auto 0;
  color: #fafafa;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  background: #d9a026;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  font-family: 'Noto Sans';
  font-size: 20px;
  font-weight: 100;
}
.c2a-btn:hover {
  background: #e0b352;
}
.features .pres-intro {
  margin-bottom: 109px;
}
.features-item {
  padding: 25px;
}
.features-item h4 {
  text-transform: capitalize;
}
.features-icon {
  display: block;
  color: rgba(26, 94, 230, .8);
  margin-bottom: 36px;
}
.features-icon:before {
  font-size: 67px;
  margin: 0;
}
.testimonial {
  color: rgba(255, 255, 255, .55);
}
.testimonial .pres-intro-title {
  color: rgba(255, 255, 255, .8);
}
.testimonial-item {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 2px solid rgba(207, 148, 23, .2);
  overflow: hidden;
  position: relative;
  padding: 41px 16px 9px 46px;
  text-align: left;
  margin-bottom: 25px;
}
.testimonial-item .testimonial-icon {
  color: rgba(217, 160, 38, .7);
  font-size: 35px;
  padding: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.testimonial-item-author {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.testimonial-item-author .img {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin: 0;
}
.testimonial-item-author cite {
  margin: auto 0 auto 9px;
  color: rgba(207, 148, 23, .8);
}
.about {
  text-align: center;
  width: 90%;
  padding: 16px 0;
  margin: 41px auto;
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, .25);
}
.about-img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  margin-bottom: 16px;
}
.about hr {
  margin: 9px auto;
  width: 177px;
}
.about-txt {
  padding: 16px;
}
.aboutSocial {
  border: 1px solid rgba(0, 0, 0, .25);
  text-align: center;
  padding: 16px 0;
  width: 90%;
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 67px;
}
.aboutSocial-icon {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  color: rgba(255, 255, 255, .9);
  width: 35px;
  height: 35px;
  margin: 0 6px;
  padding-top: 9px;
}
.bor {
  border: 1px solid;
}
.fixed {
  position: fixed;
}
.txt_center {
  text-align: center;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.none {
  display: none;
}
.bg-center {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.img {
  vertical-align: bottom;
  max-width: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: auto;
  margin: 0 auto;
}
.block, .img, li .block, .sideNav-items li .block {
  display: block;
}
.bg-black-screen_show {
  display: block;
  -webkit-animation: dim .7s ease-in-out forwards;
  -moz-animation: dim .7s ease-in-out forwards;
  -o-animation: dim .7s ease-in-out forwards;
  animation: dim .7s ease-in-out forwards;
}
ul .translate-0,.translate-0 {
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
  transform: translate(0);
}
.op0 {
  opacity: 0;
}
.op1,ul .op1 {
  opacity: 1;
}
.top_show {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  z-index: 1;
}
.humb_afterScroll {
  position: fixed;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  z-index: -1;
  background: #093eaa;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 0;
  padding: 8px;
  right: 0;
  margin: 20px;
  opacity: 0;
  bottom: 60px;
}
.humb_afterScroll .header-nav-humb-bar {
  background: #e7eefe;
}
.humb_afterScroll:focus, .humb_afterScroll:hover {
  opacity: .9;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.humb_show {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 1;
  opacity: .6;
}
.menu2Ul_show {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: scl .2s ease-in-out forwards;
  -moz-animation: scl .2s ease-in-out forwards;
  -o-animation: scl .2s ease-in-out forwards;
  animation: scl .2s ease-in-out forwards;
}
.comment-form-comment .label_stable {
  color: rgba(18, 45, 100, .8);
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
  transform: translate(0);
  font-family: 'Noto Sans';
  font-weight: 700;
}
.featuredPosts-item_anim:nth-child(1) {
  opacity: 0;
  -webkit-transform: translate(100%) scale(.5);
  -moz-transform: translate(100%) scale(.5);
  -ms-transform: translate(100%) scale(.5);
  -o-transform: translate(100%) scale(.5);
  transform: translate(100%) scale(.5);
}
.featuredPosts-item_anim:nth-child(2) {
  opacity: 0;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  -ms-transform: scale(.5);
  -o-transform: scale(.5);
  transform: scale(.5);
}
.featuredPosts-item_anim:nth-child(3) {
  opacity: 0;
  -webkit-transform: translate(-100%) scale(.5);
  -moz-transform: translate(-100%) scale(.5);
  -ms-transform: translate(-100%) scale(.5);
  -o-transform: translate(-100%) scale(.5);
  transform: translate(-100%) scale(.5);
}
.features_anim {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  opacity: 0;
}
.features_anim_bubble {
  -webkit-animation: bounce .4s ease-in-out forwards;
  -moz-animation: bounce .4s ease-in-out forwards;
  -o-animation: bounce .4s ease-in-out forwards;
  animation: bounce .4s ease-in-out forwards;
}
.c2a_anim, .rwd .rwd_anim {
  opacity: 0;
}
.mbl .mbl_anim:nth-child(1) {
  opacity: 0;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);
}
.mbl .mbl_anim:nth-child(2) {
  opacity: 0;
  -webkit-transform: translate(50%);
  -moz-transform: translate(50%);
  -ms-transform: translate(50%);
  -o-transform: translate(50%);
  transform: translate(50%);
}
.c2a_anim_bubble {
  -webkit-animation: bounce .7s ease-in-out forwards;
  -moz-animation: bounce .7s ease-in-out forwards;
  -o-animation: bounce .7s ease-in-out forwards;
  animation: bounce .7s ease-in-out forwards;
}
/*-----------------Presentaion----------------*/
/*-----------------Responsive Styles----------------*/
@media screen and (min-width:320px) {
  .testimonial .clm-4 {
    padding: 0 25px;
  }
}
@media screen and (min-width:375px) {
  .sideNav {
    width: 280px;
  }
  .sideNav-bar {
    width: 75%;
    -webkit-transform: translateY(-12px);
    -moz-transform: translateY(-12px);
    -ms-transform: translateY(-12px);
    -o-transform: translateY(-12px);
    transform: translateY(-12px);
  }
  .sideNav-items a {
    padding: 17.82609px 41px;
  }
  .header-center h1 {
    font-size: 109px;
  }
}
@media screen and (min-width:480px) {
  .index-postGrid {
    width: 95%;
  }
  .index-postGrid-h {
    font-size: 3.5rem;
  }
  .index-postGrid-h:after, .index-postGrid-h:before {
    width: 100px;
  }
  .index-postGrid-h:after {
    right: -60px;
  }
  .index-postGrid-h:before {
    left: -60px;
  }
  .comment-form-comment textarea {
    width: 400px;
  }
  .single-post {
    padding: 41px;
  }
  .single-post-content blockquote {
    margin-left: 25px;
    padding-left: 25px;
  }
  .aboutBtm-img {
    width: 100px;
    height: 100px;
    margin-top: 16px;
  }
  .aboutBtm-txt {
    padding: 25px;
  }
  .mbl-description {
    padding: 67px;
  }
  .c2a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 41px 67px;
  }
}
@media screen and (min-width:500px) {
  .rwd .img {
    width: 500px;
  }
}
@media screen and (min-width:600px) {
  .index-postInlined {
    width: 580px;
  }
  .featuredPosts-item {
    margin: 25px auto;
    width: 500px;
  }
}
@media screen and (min-width:620px) {
  .index-postGridWithSdbar {
    width: 600px;
  }
}
@media screen and (min-width:768px) {
  .clm-1-mdm {
    width: 8.33%;
  }
  .clm-2-mdm {
    width: 16.66%;
  }
  .clm-3-mdm {
    width: 24.99%;
  }
  .clm-4-mdm {
    width: 33.32%;
  }
  .clm-5-mdm {
    width: 41.65%;
  }
  .clm-6-mdm {
    width: 49.98%;
  }
  .clm-7-mdm {
    width: 58.31%;
  }
  .clm-8-mdm {
    width: 66.64%;
  }
  .clm-9-mdm {
    width: 74.97%;
  }
  .clm-10-mdm {
    width: 83.3%;
  }
  .clm-11-mdm {
    width: 91.63%;
  }
  .clm-12-mdm {
    width: 99.96%;
  }
  .header-center h1 {
    font-size: 177px;
  }
  .index-post {
    width: 600px;
  }
  .index-postGrid {
    width: 95%;
  }
  .index-postInlined {
    width: 95%;
    max-width: 800px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-left: none;
  }
  .index-postInlined .index-post-thumb {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-height: 350px;
  }
  .index-postInlined .index-postInlined-txt {
    -webkit-box-flex: 1.5;
    -webkit-flex: 1.5;
    -moz-box-flex: 1.5;
    -ms-flex: 1.5;
    flex: 1.5;
  }
  .index-postInlined .img {
    height: 100%;
  }
  .index-postInlined .index-post-readMoreBtn {
    top: auto;
    bottom: 10px;
    right: 10px;
  }
  .comment-form-comment textarea {
    width: 600px;
    height: 180px;
  }
  .nav-links {
    width: auto;
  }
  .pagination .next, .pagination .prev {
    display: inline-block;
    width: auto;
  }
  .post-header h1 {
    margin-top: 125px;
    padding: 0 67px;
  }
  .scores-item {
    padding: 9px 25px;
  }
  .c2a-txt {
    margin: auto 0;
  }
}
@media screen and (min-width:1024px) {
  .clm-1 {
    width: 8.33%;
  }
  .clm-2 {
    width: 16.66%;
  }
  .clm-3 {
    width: 24.99%;
  }
  .clm-4 {
    width: 33.32%;
  }
  .clm-5 {
    width: 41.65%;
  }
  .clm-6 {
    width: 49.98%;
  }
  .clm-7 {
    width: 58.31%;
  }
  .clm-8 {
    width: 66.64%;
  }
  .clm-9 {
    width: 74.97%;
  }
  .clm-10 {
    width: 83.3%;
  }
  .clm-11 {
    width: 91.63%;
  }
  .clm-12 {
    width: 99.96%;
  }
  .menu2-ul {
    background: 0 0;
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: auto;
  }
  .menu2 li {
    text-align: left;
  }
  .menu2 li ul {
    width: 180%;
  }
  .menu2-humb {
    display: none;
  }
  .index-post-ctn {
    width: 68%;
  }
  .post-index_gridPadding {
    padding: 16px 9px;
  }
  .clm-8.posts-index_gridPadding {
    padding-left: 41px;
  }
  .index-postGridWithSdbar {
    width: 95%;
  }
  .footer_grid {
    margin-bottom: 0;
  }
  .last-footer {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .last-footer-links {
    display: block;
  }
  .post-header h1 {
    padding: 0 177px;
  }
  .aboutBtm {
    padding: 25px;
  }
  .aboutBtm hr {
    display: block;
  }
  .mbl {
    height: 550px;
  }
  .mbl-img {
    display: block;
  }
  .featuredPosts-item {
    width: auto;
    margin: 16px;
  }
  .about {
    width: 60%;
    padding: 41px;
  }
  .about-txt {
    padding: 16px 67px 0;
  }
  .aboutSocial {
    width: 60%;
  }
}
@media screen and (min-width:1200px) {
  .widget {
    width: 300px;
  }
}
@media screen and (min-width:1280px) {
  .scores-item {
    padding: 9px 67px;
  }
  .scores-percent {
    -webkit-transform: translate(-40%);
    -moz-transform: translate(-40%);
    -ms-transform: translate(-40%);
    -o-transform: translate(-40%);
    transform: translate(-40%);
  }
  .scores-icon {
    -webkit-transform: translate(-40%);
    -moz-transform: translate(-40%);
    -ms-transform: translate(-40%);
    -o-transform: translate(-40%);
    transform: translate(-40%);
  }
}
@media screen and (min-height:550px) {
  .sideNav-social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*-----------------Responsive Styles----------------*/
/*-----------------Animation keyframes----------------*/
@-webkit-keyframes dim {
  to {
    opacity: 1;
  }
}
@-moz-keyframes dim {
  to {
    opacity: 1;
  }
}
@-o-keyframes dim {
  to {
    opacity: 1;
  }
}
@keyframes dim {
  to {
    opacity: 1;
  }
}
@-webkit-keyframes scl {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
  to {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-moz-keyframes scl {
  0% {
    -moz-transform: scaleY(0);
    transform: scaleY(0);
  }
  to {
    -moz-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-o-keyframes scl {
  0% {
    -o-transform: scaleY(0);
    transform: scaleY(0);
  }
  to {
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes scl {
  0% {
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
  }
  to {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-webkit-keyframes bounce {
  87% {
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes bounce {
  87% {
    -moz-transform: scale(1.07);
    transform: scale(1.07);
  }
  to {
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-o-keyframes bounce {
  87% {
    -o-transform: scale(1.07);
    transform: scale(1.07);
  }
  to {
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes bounce {
  87% {
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -o-transform: scale(1.07);
    transform: scale(1.07);
  }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
/*-----------------Animation keyframes----------------*/